<action-button [route]="route.url">
  <p-button [label]="'Novo Contato'" [icon]="'pi pi-plus'" ></p-button>
</action-button>
<div class="card border-none surface-section text-center min">
  <p-table [value]="contacts">
    <ng-template #header>
      <tr>
        <th>Favorito</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Data Cadastro</th>
      </tr>
    </ng-template>
    <ng-template #body let-contact>
      <tr>
        <td>
          @if (contact.ativo == 'S') {
            <p-badge value="Ativo" [severity]="'success'"></p-badge>
          } @else{
            <p-badge value="Inativo" [severity]="'warn'" ></p-badge>
          }
        </td>
        <td>{{ contact.nome }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.celular }}</td>
        <td>{{ contact.telefone }}</td>
        <td>{{ contact.favorito }}</td>
        <td>{{ contact.dataCadastro | date: 'dd/MM/yyy' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
