<nav class="layout-breadcrumb">
    <ol>
        <ng-template ngFor let-item let-last="last" let-i="index" [ngForOf]="breadcrumbs$ | async">
            <!-- <li *ngIf="i == 0;">{{item.label}}</li> -->
            <!-- <ng-template #notFirst> -->
                <li  [routerLink]="item.url" class="cursor-pointer hover-breadcrumb">{{item.label}}</li>
            <!-- </ng-template> -->
            <li *ngIf="!last" class="layout-breadcrumb-chevron"> / </li>
        </ng-template>

    </ol>
</nav>
