.layout-content-wrapper {
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.sticky-top-bar {
    position: sticky !important;
    top: 0 !important;
    width: 100%;
    background-color: #eff3f8; /* Cor de fundo da barra */
    // color: #fff; /* Cor do texto na barra */
    // padding-top: 1rem ; /* Espaçamento interno */
    // padding-bottom: 1rem ; /* Espaçamento interno */
    z-index: 1003; /* Garante que a barra esteja acima de outros elementos */

}
