<div class="flex flex-row align-items-center">
  <div class="login-image w-7 login-cover-background" >
  </div>
  <div class="w-5 h-screen flex align-items-center justify-content-center gradient-background">
    <div class="border-none surface-border surface-card border-round-3xl py-7 px-4 md:px-8 z-1 col-8 " >
      <div class="mb-4">
        <div class="flex justify-content-center align-items-center gap-1">
          <img src="./assets/logo-precad-nobg.svg" alt="logo" height="60" />
        </div>
        <div class="flex justify-content-center">
          <p class="font-semibold text-gray-500 mt-3">Bem-vindo ao Sistema de {{ loginTitle }}</p>
        </div>
      </div>
      <div class="flex flex-column">
        <login-form (submitForm)="onSubmit($event)"></login-form>
        <p-messages [value]="msgs()" [enableService]="false"></p-messages>
        <!-- <div class="mb-4" style="padding-top: 32px"></div> -->
      </div>
    </div>
  </div>
</div>
