$gutter: 1rem; //for primeflex grid system

/* Layout */
//@use "assets/layout/styles/layout/layout.scss";
@use "assets/layout/styles/layout/layout";
/* PrimeNG */
//@use "../node_modules/primeng/resources/primeng.min.css";
//@use "../node_modules/primeflex/primeflex.scss";
@use "../node_modules/primeicons/primeicons.css";

/* Quill Text Editor for p-editor */
//@import "../node_modules/quill/dist/quill.core.css";
//@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
//@import "assets/demo/styles/flags/flags.css";
//@import "assets/demo/styles/badges.scss";

// body {
//     background-image: url("/assets/page_background.svg");
// }

.bg-edit-input {
  background-color: #7cd482 !important;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem 0;
}

.error-message {
  color: #ed3434;
  // font-size: 0.8rem;
  // margin-top: 0.5rem;
}

.p-calendar-w-btn .p-inputtext {

  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.p-calendar-w-btn .p-datepicker-trigger {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.p-input-icon-right > .p-icon-wrapper, .p-input-icon-right > i:last-of-type {
  right: 0.75rem !important;
  color: #94a3b8;
}
